# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.venv/
venv/
.env
.python-version

# Node / Frontend
node_modules/

# IDEs and editors
.idea/
.vscode/
*.iml

# Tests/coverage
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Cache
.cache/

# Outputs
*.sqlite3

# Project specific
job-analytics/data/
